<% include partials/header%>
<div class="container">
    <div class="jumbotron" id="jumbotron">
        <div>
            <h1><i class="fas fa-campground"></i> </h1>
            <h1>Welcome to Camp India</h1>
            <h5>View our handpicked Campgrounds from all over the India </h5>
            <p>
                <form action="/campgrounds" method="GET" class="form-inline">
                    <div class="form-group" id="search">
                        <input type="text" name="search[city]" placeholder="search with City /District..." class="form-control">
                        <input type="text" name="search[state]" placeholder="search with State..." class="form-control">
                        <button id="search-btn" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                    </div>
                </form>
            </p>
        </div>
    </div>
</div>


<div class="container text-center">
    <% if(noMatch !== null) { %>
    <h3><%= noMatch %></h3>
    <% } %>
</div>
<div class="container">
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <a href="/campgrounds/<%=campground._id%>">
            <div class="thumbnail text-center" style="width: inherit;">
                <img src="<%= campground.image %>" alt="Campground image"style="width: 100%;">
                <div class="caption">
                    <p><%= campground.name.toUpperCase() %> <%= campground.address.district%>, <%= campground.address.state%></p>
                </div>
            </div>
            </a>
        </div>
        <% }) %>
    </div>
</div>

<% include partials/footer%>