<% include partials/header%>
<div class="container">
    <div class="d-flex flex-wrap">
            <h4><%= user.firstName[0].toUpperCase() + user.firstName.slice(1) +" "+ user.lastName[0].toUpperCase() + user.lastName.slice(1)%></h4>
            <%if((currentuser && user._id.equals(currentuser._id)) || currentuser && currentuser.isAdmin){%>
            <a class="ml-auto" href="/user/<%=user._id%>/edit"><span style="color: black; font-size: 1.5rem;"><i class="fas fa-user-edit"></i></span></i></a>
            <%}%>
    </div>
        
        
        <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <li class="list-group-item">About</li>
                <li class="list-group-item"><i class="fas fa-award"></i> Awardes and certifications</li>
                <li class="list-group-item">Contact Us: <br><i class="fas fa-phone-square"></i> <%=user.contactNumber%> <br><i class="fas fa-envelope"></i> <a href="mailto:<%= user.email%>"><%= user.email%></a></li>
                <li class="list-group-item"><i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></li>
            </div>
            <%if((currentuser && user._id.equals(currentuser._id)) || currentuser && currentuser.isAdmin){%>
            <div>
                <form action="/user/<%=user._id%>?_method=DELETE" method="POST">
                    <button style="border: none; background-color: white; font-size: 1.5rem"><i class="fas fa-trash"></i></button>
                </form>
            </div>
            <%}%>
        </div>
        
        <div class="col-md-12 camp">
            <% if((currentuser && currentuser.userType === "owner") || currentuser && currentuser.isAdmin){ %> 
                <div id="newCamp">
                    <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
                </div>
            <% } %>
            <hr>
            <% if(user.userType === "owner"){ %>
                    <h4 class="text-center">Owned / Associated Campgrounds</h4>
            <% } %>   
            <% if(user.isAdmin){ %>
                <h4 class="text-center">Camp India associated Campgrounds</h4>
            <% } %>
            <div class="row" style="display:flex; flex-wrap: wrap;">
                    <% campgrounds.forEach(function(campground){ %>
                    <div class="col-md-3 col-sm-6">
                        <a style="text-decoration:none; color:black" href="/campgrounds/<%=campground._id%>">
                        <div class="card" style="width: inherit;">
                            <img class="card-img-top" src="<%= campground.image %>" alt="Campground image">
                            <div class="card-body" id="card-body">
                                <h6 class="noHover"><%= campground.name.toUpperCase() %></h6>
                                <p><em>by</em> <%= campground.author.username%></p>
                                <h6><%= campground.price%> <i class="fas fa-rupee-sign"></i></h6>
                                <p><i class="fas fa-map-marked-alt"></i> <%= campground.address.district%>, <%= campground.address.state%></p>
                                <p><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                            </div>
                        </div>
                        </a>
                    </div>
                    <% }) %>
                </div>  
        </div>
                            
    </div>
</div>
<% include partials/footer%>