<% include partials/header%>
<div class="container">
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-12">
            <div class="d-flex flex-wrap">
            <h4><%=campground.name.toUpperCase() %></h4>
            <% if(currentuser && campground.author.id.equals(currentuser._id) || currentuser && currentuser.isAdmin){ %>
                <a class="ml-auto" href="/campgrounds/<%=campground._id%>/edit"><span style="color:black; font-size: 1.5rem"><i class="fas fa-edit"></i></span></a>
            <%}%>
        </div>
        </div>
        <div class="col-md-8 camp ">
            <figure class="=figure">
                <img class="figure-img img-fluid rounded" src="<%=campground.image%>" alt="">
                <figcaption class="figure-caption">
                    <p ><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                    <p><%=campground.description%></p>
                    <% if(currentuser && campground.author.id.equals(currentuser._id) || currentuser && currentuser.isAdmin){ %>
                    <div class="d-flex flex-wrap">
                        
                        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="post">
                            <button style="border: none; background-color:white; font-size: 1.5rem"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                    <%}%>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <li class="list-group-item"><em> <strong>Owner/ service provider :</strong><br><strong><a style="text-decoration: none" href="/user/<%=campground.author.id%>"><%=user.firstName[0].toUpperCase() + user.firstName.slice(1) +" "+ user.lastName[0].toUpperCase() + user.lastName.slice(1)%></a></strong></em></li>
                <li class="list-group-item"><strong>Address:</strong><br><%=campground.address.address1%>, <%=campground.address.city%>, <%=campground.address.district%>, <%=campground.address.state%>, <%=campground.address.postalCode%> <br>Click<a style="text-decoration: none" href="<%=campground.addressUrl%>" target="_blank" rel="noopener noreferrer"> here</a> to view on <i class="fas fa-map-marked-alt"></i></li>
                <li class="list-group-item"><strong>Price/Day : <%= campground.price%></strong> <span style="font-size: inherit"><i class="fas fa-rupee-sign"></i></span>  <br>Check in : 12:00 pm <br>Check out : 11:00 am <br>Contact service provider for early check in</li>
                <li class="list-group-item"><strong>Activities :</strong>
                    <ul id="activities">
                        <% for (let i = 0; i<campground.activities.length; i++) { %>
                            <li><%=campground.activities[i].toLowerCase()%></li>
                        <%}%>
                    </ul> 
                </li>
                <li class="list-group-item"><strong>Services :</strong>
                    <ul id="services">
                        <% for (let i = 0; i<campground.services.length; i++) { %>
                            <li><%=campground.services[i].toLowerCase()%></li>
                        <%}%>
                    </ul>
                </li>
                <li class="list-group-item"><a style="text-decoration: none" href=""><strong>book now</strong></a></li>
                <li class="list-group-item"><strong>Contact Us:</strong><br><%=campground.contactNumber%> <br><a style="text-decoration: none" href="mailto:<%=user.email%>"><%=user.email%></a></li>
                
            </div>   
        </div>
        <div class="col-md-8 comments">
            <hr>
            <div>
                <form action="/campgrounds/<%=campground._id%>/comment" method="POST" class="d-flex">
                    <input type="text" name="comment[text]" placeholder="comment" class="form-control">
                    <button type="submit" class="btn btn-sm btn-dark ml-auto">post</button>
                </form>
            </div>
            <hr>
            <div class="col-md-12">
                <% var i = 0; %>
                <% campground.comments.forEach(function(comment){ %>
                    
                        <p><strong><%= comment.author.username%></strong></p>
                          
                    <div class="d-flex" >
                        <p class=""><%= comment.text%></p> 
                        <p class="ml-auto" id="parent<%= +i%>"></p>
                        <div class="d-flex">
                                <% if(currentuser && comment.author.id.equals(currentuser._id)){ %>
                                    <a class="ml-auto" href="/campgrounds/<%=campground._id%>/comment/<%=comment._id%>/edit"><span style="color: black; padding-left: 0.5rem"> <i class="fas fa-pen"></i></span></a>
                                    <%}%>
                                    <% if(currentuser && comment.author.id.equals(currentuser._id)|| currentuser && currentuser.isAdmin){ %>
                                    <form class="flex-item" action="/campgrounds/<%=campground._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST">
                                        <button class="ml-auto" style="border: none; background-color:white; padding-left: 0.5rem"> <i class="fas fa-trash-alt"></i></button>
                                    </form>  
                                    <%}%>
                        </div>
                    </div>
                    
                    <script>
                        var created = Date.parse("<%=comment.created.toString();%>"); 
                        daysCount();

                        function daysCount() {
                        var today = new Date();

                        var ms = Math.round(today.getTime() - created);
                        console.log(today.getTime());
                        console.log(created);
                        console.log(ms);
                        var a = document.createElement("p");

                        if (ms <= 59999) {
                                count = "Just now";
                                return document.getElementById("parent<%= +i%>").innerHTML = count;
                            }
                            if (ms > 59999 && ms <= 3599999) {
                                count = Math.round(ms / 60000) + "minutes ago";
                                return document.getElementById("parent<%= +i%>").innerHTML = count;
                            }
                            if (ms > 3599999 && ms <= 86399999) {
                                count = Math.round(ms / 3600000) + "hours ago";
                                return document.getElementById("parent<%= +i%>").innerHTML = count;
                            }
                            if (ms > 86399999 && ms <= 2591999999) {
                                count = Math.round(ms / 86400000) + "days ago";
                                return document.getElementById("parent<%= +i%>").innerHTML = count;
                            }
                            if (ms > 2591999999 && ms <= 31103999999) {
                                count = Math.round(ms / 2592000000) + "months ago";
                                return document.getElementById("parent<%= +i%>").innerHTML = count;
                            }
                            else {
                                count = Math.round(ms / 31104000000) + "years ago";
                                return document.getElementById("parent<%= +i%>").innerHTML = count;
                            }
                        
                        }   
                    </script>
                    <%i += 1;%>
                <%});%>
            </div>           
        </div>
    </div>
</div>
<% include partials/footer%>